<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493926221116-rom7rvai6ft3pc6vba7qip1i1lb9rkk4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493926221116-rom7rvai6ft3pc6vba7qip1i1lb9rkk4</string>
	<key>API_KEY</key>
	<string>AIzaSyCLNV3zFljuWkmbxnZ5uBjMkVnnyP3KdTM</string>
	<key>GCM_SENDER_ID</key>
	<string>493926221116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joinwithme</string>
	<key>PROJECT_ID</key>
	<string>joinwithme-f4baa</string>
	<key>STORAGE_BUCKET</key>
	<string>joinwithme-f4baa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493926221116:ios:c99bff98003d7cbf</string>
	<key>DATABASE_URL</key>
	<string>https://joinwithme-f4baa.firebaseio.com</string>
</dict>
</plist>